SECRET_KEY=django-insecure-dev-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=*

# MySQL
MYSQL_DATABASE=payroll_db
MYSQL_USER=payroll_user
MYSQL_PASSWORD=password
MYSQL_HOST=localhost
MYSQL_PORT=3306

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

CORS_ALLOW_ALL_ORIGINS=True
